/* Setup
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}

/* Colors
   ========================================================================== */
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(0, 0%, 55%);
  --dark-gray: hsl(0, 0%, 41%);

  --ff-body: "Alata", sans-serif;
  --ff-heading: "Josefin Sans", sans-serif;
}

/* Typography
   ========================================================================== */

body {
  font-family: var(--ff-body);
  font-size: 0.9375rem;
  letter-spacing: 0em;
  line-height: 175%;
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  color: var(--black);
}

h1 {
  font-size: 2.625rem;
  letter-spacing: -0.03em;
  line-height: 90%;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.005em;
  line-height: 97%;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.01em;
  line-height: 98.5%;
}

p {
  color: var(--gray);
}

/* Fixes and Utility
   ========================================================================== */

img {
  display: block;
}

.hidden {
  display: none;
}

object {
  pointer-events: none;
}

/* Page
   ========================================================================== */

body {
  width: 100%;
  overflow-x: hidden;
  background: blue;
}

/* Prevent scroll */
body.menu--show {
  overflow-y: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

/* Header
   ========================================================================== */
.header {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 64px;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.header.menu--show {
  height: 100vh;
  background-color: var(--black);
}

.nav {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  height: 64px;
}

.nav.menu--show {
  height: 100vh;
}

.nav__topbar {
  position: absolute;
  width: 100%;
  top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: block;
  height: 24px;
}

.nav__menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.nav__list {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav__list.menu--show {
  display: block;
}

.nav__item {
  padding: 14px 0;
}

.nav__link {
  text-decoration: none;
  color: var(--white);
}

@media screen and (max-width: 800px) {
  .nav__link {
    font-family: var(--ff-heading);
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: -0.01em;
    line-height: 98.5%;
    text-transform: uppercase;
  }
}

/* Hero
   ========================================================================== */
/* .main {
  margin-top: 1000px;
} */
